<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/css/style.css" />

    <title>board list</title>
</head>
<body>
    <h1>board list load test build test가 있네요?</h1>
    <a href="/">index</a>

    <table>
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>글쓴이</td>
            <td>조회수</td>
        </tr>
        <tr>
            <td>1</td>
            <td>제목입니다</td>
            <td>운영자</td>
            <td>1223</td>
        </tr>
    </table>
    <script type="text/javascript">
        $(document).ready(function(){
           //alert("one");
        });
    </script>
</body>
</html>