<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <script src="/bower_components/jquery/dist/jquery.min.js"></script>
    <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="/bower_components/css/style.css" />

    <title>board list</title>

    <style>
        ul.ct {
            display: table;
            margin-left: auto;
            margin-right: auto;
        }
    </style>
</head>
<body>
    <h1>board list load test build test가 있네요?</h1>
    <a href="/">index</a>

    <table>
        <tr>
            <td>번호</td>
            <td>제목</td>
            <td>글쓴이</td>
            <td>조회수</td>
        </tr>
        <tr th:each="customer : ${customers}">
            <td th:text="${customer.id}">1</td>
            <td>제목입니다</td>
            <td>운영자</td>
            <td>1223</td>
        </tr>
    </table>

    <ul class="pagination ct">
        <li><a href="/ajaxTest?pageNo=1">1</a></li>
        <li><a href="/ajaxTest?pageNo=2">2</a></li>
        <li><a href="/ajaxTest?pageNo=3">3</a></li>
        <li><a href="/ajaxTest?pageNo=4">4</a></li>
        <li><a href="/ajaxTest?pageNo=5">5</a></li>
        <li><a href="/ajaxTest?pageNo=6">6</a></li>
        <li><a href="/ajaxTest?pageNo=7">7</a></li>
        <li><a href="/ajaxTest?pageNo=8">8</a></li>
        <li><a href="/ajaxTest?pageNo=9">9</a></li>
        <li><a href="/ajaxTest?pageNo=10">10</a></li>
    </ul>

    <script type="text/javascript">
        $(document).ready(function(){
           //alert("one");
        });
    </script>
</body>
</html>